.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# Ignore Macos nonsense
**.DS_Store

# Ignore custom vscode user settings
**/.settings
*.css
*.html
a1/doc/element-list
*.txt
*.bluej
a1/package.bluej
